---
title: Guides to secure all of your things
layout: default
---
<div class="homepage">
	<div class="canisecure-block">
		<h1 class="canisecure-list-title"><a href="/guides/">Latest guides</a></h1>
		<ol class="canisecure-list">
			{% assign latest-guides = site.guides | sort:"updated" | reverse %}
			{% for guide in latest-guides limit:5 %}
				{% assign guide-category = '' %}
				{% if guide.category == 'html' or guide.category == 'css' %}
					{% assign guide-title-first-chars = guide.title | downcase | slice: 0, guide.category.size %}
					{% assign guide-category-first-chars = guide.category | downcase %}
					{% if guide-category-first-chars != guide-title-first-chars %}
						{% assign guide-category = guide.category | upcase | append:' ' %}
					{% endif %}
				{% endif %}
			<li><a href="{{ guide.url }}">{{ guide-category | default:'' }}{{ guide.title | escape_once }}</a>, {{ guide.updated | date: '%B %d, %Y' }}</li>
			{% endfor %}
		</ol>
		<a href="/guides/" class="guide-button">View all guides</a>
	</div>
</div>
